# Private key of the Seller's Wallet 
WALLET_PRIVATE_KEY=<your-private-key>

# ETH Node address for listenting and writing on-chain events (better than using public node)
# Clone and Validator Registry are network specific, uncomment only one section
# MAINNET (Arbitrum)
ETH_NODE_ADDRESS="wss://arb-mainnet.g.alchemy.com/v2/<your-api-key>"
CLONE_FACTORY_ADDRESS=0x05C9F9E9041EeBCD060df2aee107C66516E2b9bA
VALIDATOR_REGISTRY_ADDRESS=0xbEB5b2df7B554Fb175e97Eb21eE1e8D7fF2f56B1

# TESTNET (Sepolia)
# ETH_NODE_ADDRESS="wss://arb-sepolia.g.alchemy.com/v2/<your-api-key>"
# CLONE_FACTORY_ADDRESS=0x15437978300786aDe37f61e02Be1C061e51353D3
# VALIDATOR_REGISTRY_ADDRESS=0xD81265c55ED9Ca7C71d665EA12A40e7921EA1123

# Default pool address ... where hashrate goes when not contracted
POOL_ADDRESS="//account.worker:@mine.pool.com:port"

#Where will the API be exposed? (recommend VPN/Private Network)
WEB_ADDRESS="0.0.0.0:8080"
WEB_PUBLIC_URL="http://private.url.com:8080"